#agents-container {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
}


.agent-card {
    border: 2px solid pink;
    border-radius: 8px;

    display: flex;
    flex-direction: column;

    img {
        width: 100%;
    }
}