#pokemon-container {
    display: flex;
    /* flex-wrap: wrap; */
    margin-top: 20px;

    gap: 20px;
    align-items: center;
    
    #back-btn, #next-btn {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: none;
        transition: 0.3s all ease;
    }

    #back-btn:hover, #next-btn:hover {
        background-color: rgb(181, 181, 124);
        cursor: pointer;
    }
}

.pokemon-card {
    border: 2px solid pink;
    /* width: 100px; */

    img {
        width: 100%;
    }
}