#title {
    text-align: center;
}

/* show users that title can also be clicked on */
#title:hover {
    cursor: pointer;
    color: red;
}

#search-form {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    gap: 12px;
    width: 80%;
    margin: auto;

    /* nested css */
    /* div:first-child {
        display: flex;
        gap: 8px;
    } */
}

#filters-container, #category-filters {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
    margin-top: 20px;
    gap: 10px;
}

#categories-container {
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 20px;
}

#search-input {
    /* width: 80%; */
    flex: 1;
    padding: 12px;
    border-radius: 16px;
    border: 2px solid rgb(77, 92, 236);
    font-size: 20px;
}

#search-btn {
    padding: 12px;
    border-radius: 16px;
    border: 2px solid rgb(77, 92, 236);
}

#products-container {
    width: 80%;
    margin: auto;
    margin-top: 32px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.product-card {
    /* nested selectors: available in 2025 */

    border: 1px solid pink;
    border-radius: 12px;
    overflow: hidden;
    /* padding: 20px; */

    h2, p {
        padding: 8px 20px; /* vertical horizontal */
    }


    img {
        width: 100%;
    }
}
