main {
    /* padding: 50px; */
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    /* border: 3px solid red; */
}

#main-image {
    width: 40%;
    margin: auto;
}

#preview-images {
    /* width: 100%; */
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    

    img {
        width: 150px;
        border: 2px solid transparent;
    }

    /* img:hover {
        border: 2px solid red;
    } */
}